@font-face {
  font-family: "iconfont"; /* Project id 3140640 */
  src: url('iconfont.woff2?t=1642081790255') format('woff2'),
       url('iconfont.woff?t=1642081790255') format('woff'),
       url('iconfont.ttf?t=1642081790255') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
  content: "\e78a";
}

.icon-right:before {
  content: "\e7a5";
}

.icon-star:before {
  content: "\e6ec";
}

.icon-stop:before {
  content: "\e667";
}

